In [1]:
import urllib3
import json
import pandas as pd
from datetime import datetime

#Functions related to API requests

http = urllib3.PoolManager()

In [2]:
def mercado_track_historic(item_id):
    result = http.request("GET", f"https://mercadotrack.com/_next/data/toSzs6S9f71DST-8OKqHf/articulos/{item_id}.json")
    return result.json()

In [7]:
x = mercado_track_historic("MLA1129772009")

In [8]:
y = x["pageProps"]['article']['history']

In [9]:
y = [{"date": datetime.fromisoformat(y["date"]).strftime("%Y-%m-%d"), "price": y['price']} for y in y]

In [10]:
pd.DataFrame(y, columns=['date', 'price'])

          date   price
0   2022-04-05  485400
1   2022-04-12  455400
2   2022-04-27  418000
3   2022-05-17  414000
4   2022-05-23  400000
5   2022-05-27  397000
6   2022-06-08  383000
7   2022-06-29  341500
8   2022-07-03  441500
9   2022-07-21  450000
10  2023-09-15  988020
11  2023-09-15  810000
12  2023-10-17  910000

In [ ]:
import pymysql
import os

In [ ]:
def item_question(item_id):
    try:
        # Establece la conexi√≥n a la base de datos
        connection = pymysql.connect(
                                host= os.environ['DB_HOST'],
                                port=  int(os.environ['DB_PORT']), 
                                user= os.environ['DB_USER'],
                                password= os.environ['DB_PASSWORD'],
                                database= os.environ['DB_NAME'])
        
        cursor = connection.cursor()
        
        # Consulto item_ids
        response = cursor.execute(f"SELECT item_id FROM item WHERE item_id = '{item_id}'")
        
        return response
    
    finally:
        connection.close()